ipykernel
python-dotenv
langchain
langchain-community
langchain_core
langchain-openai
langchain-groq
langchain-ollama
langchain-google-genai
streamlit
matplotlib
scikit-learn
seaborn
numpy
pandas
pypdf
sentence_transformers
faiss-cpu
bs4
pymupdf
wikipedia
langchain-text-splitters
chromadb
langchain_huggingface
langchain_chroma
duckdb
duckduckgo-search
langchain_classic